<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home | Welcome</title>
</head>
<body>
    <div>
        <h2>Thank you, @ViewBag.Name!</h2>
        <p>It's great that you're comming. The drinks are already in the fridge!</p>
    </div>
</body>
</html>